<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lr.best">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.shsk.shop.activity.permission.JPUSH_MESSAGE"
        tools:ignore="UniquePermission" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 保存或读出图片还应该添加读写权限 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- 添加程序访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 开机启动权限 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 融云permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI" />
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI" /> <!-- ⼩米 配置开始 < -->

    <permission
        android:name="permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"
        tools:ignore="UniquePermission" />

    <uses-permission android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE" /> <!-- ⼩米 配置结束 < -->
    <!-- GCM 配置开始 < -->
    <permission
        android:name="permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.rongcloud.im.permission.C2D_MESSAGE" /> <!-- GCM 配置结束 < -->
    <!-- 华为 配置开始 < -->
    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 华为 配置结束 < -->
    <!-- MeiZu 配置开始 < -->
    <!-- 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <permission
        android:name="rongyun.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.rongcloud.im.push.permission.MESSAGE" /> <!-- 兼容 flyme3.0 配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" /> <!-- MeiZu 配置结束 < -->
    <!-- OPPPO 权限配置 -->
    <uses-permission android:name="com.coloros.mcs.permission.SEND_MCS_MESSAGE" /> <!-- OPPO 配置结束 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".basic.BasicApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name_main"
        android:networkSecurityConfig="@xml/net_request"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:allowBackup,android:name,android:networkSecurityConfig">


        <meta-data
            android:name="TencentMapSDK"
            android:value="TOEBZ-67IR4-ZDHUV-DSDXX-TJZU7-UYFE7" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
 <meta-data
            tools:replace="android:value"
            android:name="RONG_CLOUD_APP_KEY"
            android:value="k51hidwqk4j8b" />
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lr.best.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.moudle.activity.SplashActivity"
            android:label="@string/app_name_main"
            android:theme="@style/SplashTheme">
            <intent-filter android:label="@string/app_name_main">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!--
                Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.lr.best.utils.imageload.MyGlideAppModule"
            android:value="MyGlideAppModule" />

        <activity
            android:name=".ui.moudle.activity.GuideViewPageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".ui.moudle.activity.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.moudle.activity.LoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".ui.moudle.activity.RegistActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 注册 -->


        <activity
            android:name=".ui.moudle.activity.ResetLoginPassActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 重置登录密码 -->
        <activity
            android:name=".ui.moudle.activity.ResetLoginPassButActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 用户信息页面 -->
        <activity
            android:name=".ui.moudle1.activity.UserInfoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 用户信息页面 -->

        <activity
            android:name="cn.wildfire.chat.kit.conversation.ConversationActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />

        <activity
            android:name="cn.wildfire.chat.kit.location.ui.activity.ShowLocationActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"  />

        <activity
            android:name="cn.wildfire.chat.kit.location.ui.activity.MyLocationActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>

        <activity
            android:name="cn.wildfire.chat.kit.location.ui.activity.TestActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>

        <activity
            android:name="cn.wildfire.chat.kit.user.SetAliasActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"  />
        <activity
            android:name="cn.wildfire.chat.kit.user.ChangeMyNameActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />

        <activity
            android:name="cn.wildfire.chat.kit.mm.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name="cn.wildfire.chat.kit.group.SetGroupNameActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"  />
        <activity
            android:name="cn.wildfire.chat.kit.mm.MMPreviewActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name="cn.wildfire.chat.kit.voip.SingleVoipCallActivity">
            <intent-filter>
                <action android:name="${applicationId}.kit.voip.single" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="cn.wildfire.chat.kit.conversation.CreateConversationActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.group.AddGroupMemberActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.group.RemoveGroupMemberActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.conversation.mention.MentionGroupMemberActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.group.GroupListActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.contact.newfriend.FriendRequestListActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.contact.newfriend.SearchUserActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.contact.newfriend.InviteFriendActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.user.UserInfoActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />
        <activity
            android:name="cn.wildfire.chat.kit.conversation.ConversationInfoActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.chatroom.ChatRoomListActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:label="聊天室列表" />
        <activity
            android:name="cn.wildfire.chat.kit.search.SearchPortalActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.conversation.forward.ForwardActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.conversation.forward.PickConversationTargetToForwardActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />

        <activity
            android:name="cn.wildfire.chat.kit.channel.ChannelListActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:label="频道列表" />

        <activity
            android:name="cn.wildfire.chat.kit.channel.CreateChannelActivity"
            android:label="创建频道"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />

        <activity android:name="cn.wildfire.chat.kit.channel.ChannelInfoActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>

        <activity android:name="cn.wildfire.chat.kit.WfcWebViewActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale">
            <intent-filter>
                <action android:name="${applicationId}.webview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="cn.wildfire.chat.kit.search.SearchMessageActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity android:name="cn.wildfire.chat.kit.channel.SearchChannelActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity android:name="cn.wildfire.chat.kit.group.PickGroupMemberActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>

        <activity android:name="cn.wildfire.chat.kit.qrcode.QRCodeActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity
            android:name="cn.wildfire.chat.kit.group.GroupInfoActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.qrcode.ScanQRCodeActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:label="扫一扫" />
        <activity android:name="cn.wildfire.chat.kit.group.manage.GroupManageActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity android:name="cn.wildfire.chat.kit.group.manage.GroupManagerListActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity android:name="cn.wildfire.chat.kit.group.manage.AddGroupManagerActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity android:name="cn.wildfire.chat.kit.group.manage.GroupMuteActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity android:name="cn.wildfire.chat.kit.group.manage.GroupMemberPermissionActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"/>
        <activity
            android:name="cn.wildfire.chat.kit.group.GroupMemberListActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            />
        <activity
            android:name="cn.wildfire.chat.kit.contact.pick.PickContactActivity"
            android:theme="@style/AppTheme.Transparent"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale" />

        <activity
            android:name=".ui.moudle5.activity.TradeListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden"/> <!-- 交易明细 -->


        <activity
            android:name=".ui.moudle.activity.ShowDetailPictrue"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/YourTheme"
            android:windowSoftInputMode="stateHidden"/> <!-- 申请成功界面 -->

        <activity
            android:name=".ui.moudle2.activity.PayMoneyActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden"/> <!-- html界面 还款协议 -->
        <activity
            android:name=".ui.moudle1.activity.HtmlActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:process=":RemoteProcess"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden"/> <!-- pdf界面 还款协议 -->

        <service android:name=".service.DownloadService"/>
        <service
            android:name=".service.InitService"
            android:exported="false" /> <!-- 总资产 -->

        <activity
            android:name=".ui.moudle.activity.IdCardEditActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 发帖 -->
        <activity
            android:name=".ui.moudle.activity.SettingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 币友在线介绍 -->
        <activity
            android:name=".ui.moudle5.activity.ChongBiActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 合同签署 -->
        <activity
            android:name=".ui.moudle.activity.TestScanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"/> <!-- 扫描发票 -->
        <activity
            android:name=".ui.moudle1.activity.YaoQingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 折线走势图 -->
        <activity
            android:name=".ui.moudle3.activity.CoinInfoDetailActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 充币选择币种类型 -->
        <activity
            android:name=".ui.moudle5.activity.ChoseBiTypeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 提币 -->
        <activity
            android:name=".ui.moudle5.activity.TiBiActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 提币  地址管理 -->
        <activity
            android:name=".ui.moudle5.activity.TibiAddressActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!-- 提币  添加地址 -->
        <activity
            android:name=".ui.moudle5.activity.AddAddressActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--我的团队 -->

        <activity
            android:name=".ui.moudle1.activity.MyTreamActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!-- 兑换 -->

        <activity
            android:name=".ui.moudle5.activity.DuiHuanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!-- 划转 -->

        <activity
            android:name=".ui.moudle5.activity.HuaZhuanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 划转记录 -->
        <activity
            android:name=".ui.moudle5.activity.HuaZhuanListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 订单历史 -->
        <activity
            android:name=".ui.moudle2.activity.DingDanListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 关于我们 -->
        <activity
            android:name=".ui.moudle.activity.AboutActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 联系客服 -->
        <activity
            android:name=".ui.moudle.activity.ContactKefuActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 安全中心 -->
        <activity
            android:name=".ui.moudle.activity.SecurityActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 安全中心  二维码校验 -->
        <activity
            android:name=".ui.moudle.activity.SecurityCheckActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 重置支付密码 -->
        <activity
            android:name=".ui.moudle.activity.ResetPayPassButActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 收款方式 -->
        <activity
            android:name=".ui.moudle1.activity.PayListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 添加支付方式 -->
        <activity
            android:name=".ui.moudle1.activity.AddPayWayActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 公告列表 -->
        <activity
            android:name=".ui.moudle1.activity.NoticeListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 公告详情 -->
        <activity
            android:name=".ui.moudle1.activity.NoticeDetialActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 帮助列表 -->
        <activity
            android:name=".ui.moudle1.activity.HelpListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 帮助详情 -->
        <activity
            android:name=".ui.moudle1.activity.HelpDetialActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 兑换记录列表 -->

        <activity
            android:name=".ui.moudle5.activity.DuiHuanListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 释放记录列表 -->

        <activity
            android:name=".ui.moudle5.activity.ReleaseListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 委托列表 -->

        <activity
            android:name=".ui.moudle2.activity.WeiTuoListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!-- 聊天界面 -->
        <activity
            android:name=".ui.moudle4.activity.ChatActivity"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 修改昵称 -->
        <activity
            android:name=".ui.moudle.activity.UpdateNichengActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 添加好友 -->
        <!-- 聊天消息通知列表 -->
        <activity
            android:name=".ui.moudle4.activity.ChatNoticeListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 投诉原因选择 -->
        <activity
            android:name=".ui.moudle4.activity.ChoseReasonTypeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 投诉原因选择 -->
        <activity
            android:name=".ui.moudle4.activity.TousuActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 群二维码名片 -->
        <!-- 群管理 -->
        <!-- 红包 -->
        <activity
            android:name=".ui.moudle4.activity.RedMoneyActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 红包领取界面 -->
        <activity
            android:name=".ui.moudle4.activity.RedListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 红包记录界面 -->
        <activity
            android:name=".ui.moudle4.activity.RedRecordListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 转账 -->



        <activity
            android:name=".ui.moudle4.activity.TransferMoneyActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|smallestScreenSize|screenLayout|locale"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/> <!-- 融云Activity -->

        <meta-data
            android:name="InstallChannel"
            android:value="CHANNAL" /> <!-- 高德地图 -->
        <!--
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="替换你申请的高德地图 ApiKey" />
        -->
        <!-- push start -->
        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true" />

        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.coloros.mcssdk.PushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>

        <!-- Socket后台服务-->
        <service android:name=".service.SocketService"/>

        <service android:name="com.lzf.easyfloat.service.FloatService" />
    </application>

</manifest>